.textimg {
  float: left;
  width: 80px;
  margin-right: 10px;
}
/* Tags in der Tagcloud */
.tag-1 {
  font-size: small;
}
.tag-2 {
  font-size: medium;
}
.tag-3 {
  font-size: large;
}
.tag-4 {
  font-size: larger;
}
.tag-5 {
  font-size: x-large;
}
a {
  text-decoration: none;
}
